#navBar {
  display: flex;
  background-color: var(--color-header);
  width: 100%;
  height: 8%;
  margin: auto;
}

.link {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;

  background-color: var(--color-button);
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
  border: 2px double var(--color-button-border);
  border-radius: 5px;

  transition: background-color 0.2s;
}

.link:hover{
  background-color: var(--color-hover)
}