:root {
  --color-primary: darkslategray;
  --color-secondary: aliceblue;
  --color-accent: teal;
  --color-hover: slategray;
  --color-header: bisque;
  --color-button: darkslateblue;
  --color-button-border: black;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
}