:root {
  --color-primary: darkslategray;
  --color-secondary: aliceblue;
  --color-thirtiary: rgb(165, 99, 99);
  --color-quartiary: gray;
  --color-accent: teal;
  --color-hover: slategray;
  --color-header: bisque;
  --color-button: darkslateblue;
  --color-button-border: black;
}

html, body, #root, #app {
  width: 100%;
  height: 100%;
  margin: 0;
}